<!-- start custom head snippets -->

<meta name="Keywords" content="白月黑羽,python教程,python基础,python入门,python自学,python练习,python论坛">
<!-- insert favicons. use http://realfavicongenerator.net/ -->

<script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "https://hm.baidu.com/hm.js?dbe4b81610105438254516b658833659";
      var s = document.getElementsByTagName("script")[0]; 
      s.parentNode.insertBefore(hm, s);
    })();
</script>
    
<!-- end custom head snippets -->